<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<div class="logo"><img src="/static/images/nkiri-logo.png" alt="nkiri-logo" /></div>
			<div class="text">
				<h1>Nkiri Downloader</h1>
				<p>Movies/Series</p>
			</div>
		</header>
		<main>
			<form action="/download" method="post">
				<input
					type="text"
					placeholder="Paste movie or series page link..."
					value=""
					id="link"
					name="link"
					pattern="^https:\/\/nkiri\.com\/.*$"
					title="Link must start with https://nkiri.com/" />
				<input type="submit" value="Download" />
			</form>
		</main>
	</body>
</html>
<script>
	const downloadButton = document.querySelector('input[type="submit"]');
	const inputField = document.querySelector('input[type="text"]');

	inputField.addEventListener("input", () => {
		inputField.value += inputField.innerHTML;
	});
	downloadButton.addEventListener("click", (e) => {
		console.log(inputField.value);
		if (inputField.value == "") {
			e.preventDefault();
		}
	});
</script>
